@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
}
header .logo
{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 7px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover , header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}
section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #fff;
    right: -350px;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    
}
#btn
{
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;

}
.sec h2 
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff;
}

.foot
{
    position: relative;
    padding: 100px;
    background: #1c0522;

}

.footer-bottom
{
    font-size: 2 em;
    margin-bottom: 10px;
    color: #fff;    
}

.footer-social ul li a
{
    font-size: 1em;
    color: #fff;
}

/*Cpied from lynn*/

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.box {
    width: 100%; /* Adjust the width as needed */
    border: 2px solid #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #fff;
}

.blog {
    text-align: center;
    padding: 2px;
    border: 2px solid #fff;
    margin: 10px auto; /* Center the blog section */
    width: 100%; /* Adjust the width as needed */
    max-width: 825px; /* Set a maximum width if desired */
    color: #fff;
}

/*mywork*/


.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}